<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ConnexionServlet</servlet-name>
        <servlet-class>controlleur.ConnexionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionCandidatServlet</servlet-name>
        <servlet-class>controlleur.CreationCandidatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilCandidatServlet</servlet-name>
        <servlet-class>controlleur.ProfilCandidatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormationServlet</servlet-name>
        <servlet-class>controlleur.FormationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExperienceServlet</servlet-name>
        <servlet-class>controlleur.ExperienceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompetenceServlet</servlet-name>
        <servlet-class>controlleur.CompetenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CvServlet</servlet-name>
        <servlet-class>controlleur.CvServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionEntrepriseServlet</servlet-name>
        <servlet-class>controlleur.CreationEntrepriseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilEntrepriseServlet</servlet-name>
        <servlet-class>controlleur.ProfilEntrepriseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionInstitutServlet</servlet-name>
        <servlet-class>controlleur.CreationInstitutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CvThequeServlet</servlet-name>
        <servlet-class>controlleur.CvThequeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OffreFormationServlet</servlet-name>
        <servlet-class>controlleur.OffreFormationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OffreEmploiServlet</servlet-name>
        <servlet-class>controlleur.OffreEmploiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AffichageServlet</servlet-name>
        <servlet-class>controlleur.AffichageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>controlleur.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostulationServlet</servlet-name>
        <servlet-class>controlleur.PostulationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionServlet</servlet-name>
        <servlet-class>controlleur.InscriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficheListeOffreServlet</servlet-name>
        <servlet-class>controlleur.AfficheListeOffreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfServlet</servlet-name>
        <servlet-class>cv.PdfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LettreServlet</servlet-name>
        <servlet-class>lettremotivation.LettreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilInstitutServlet</servlet-name>
        <servlet-class>controlleur.ProfilInstitutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AffichageLettreServlet</servlet-name>
        <servlet-class>controlleur.AffichageLettreServlet</servlet-class>
    </servlet>
    
    
    <servlet-mapping>
        <servlet-name>ConnexionServlet</servlet-name>
        <url-pattern>/ConnexionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionCandidatServlet</servlet-name>
        <url-pattern>/InscriptionCandidatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilCandidatServlet</servlet-name>
        <url-pattern>/ProfilCandidatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormationServlet</servlet-name>
        <url-pattern>/FormationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExperienceServlet</servlet-name>
        <url-pattern>/ExperienceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompetenceServlet</servlet-name>
        <url-pattern>/CompetenceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CvServlet</servlet-name>
        <url-pattern>/CvServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionEntrepriseServlet</servlet-name>
        <url-pattern>/InscriptionEntrepriseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilEntrepriseServlet</servlet-name>
        <url-pattern>/ProfilEntrepriseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionInstitutServlet</servlet-name>
        <url-pattern>/InscriptionInstitutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CvThequeServlet</servlet-name>
        <url-pattern>/CvThequeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OffreFormationServlet</servlet-name>
        <url-pattern>/OffreFormationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OffreEmploiServlet</servlet-name>
        <url-pattern>/OffreEmploiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AffichageServlet</servlet-name>
        <url-pattern>/AffichageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/DetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostulationServlet</servlet-name>
        <url-pattern>/PostulationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionServlet</servlet-name>
        <url-pattern>/InscriptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficheListeOffreServlet</servlet-name>
        <url-pattern>/AfficheListeOffreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfServlet</servlet-name>
        <url-pattern>/PdfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LettreServlet</servlet-name>
        <url-pattern>/LettreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilInstitutServlet</servlet-name>
        <url-pattern>/ProfilInstitutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AffichageLettreServlet</servlet-name>
        <url-pattern>/AffichageLettreServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
</web-app>
